<!-- PORTIFOLIO -->
<section id="portfolio" >
    <div class="perfil_flutuante">

        <!-- PERFIL - 1 -->

        <div id="section_portifolio" class="mudarCor">

            <div class="perfil_descricao ">
                <div class="img_perfil bk_img_perfil">
                    <img src="assets/img/sobre/img_perfil.png" alt="">

                </div>
                <div class="text_perfil">
                    <h3 class="mudarCorTextos">Erivelton Magalhães</h3>
                    <p class="mudarCorTextos">Desenvolvedor Full Stack e designer UX/UI com + de 1 ano de experiência em
                        desenvolvimento web, apaixonado por criar soluções inovadoras e
                        eficientes.</p>


                </div>

            </div>

            <!-- CONATATO -->
            <div class="perfil_contato">

                <div class="btn_perfil">
                    <button><i class="bi bi-telephone-forward"></i>Contato</button>
                    <button class="baixar_cv" onclick="baixarCV()"><i class="bi bi-arrow-down-circle-fill"></i>Download CV</button>

                </div>
                <!-- icons perfil -->
                <div class="icons_perfil">
                    <div>
                        <i class="bi bi-facebook mudarCorTextos"></i>
                        <i class="bi bi-linkedin mudarCorTextos"></i>
                        <i class="bi bi-github mudarCorTextos"></i>
                        <i class="bi bi-whatsapp mudarCorTextos"></i>
                    </div>

                </div>

            </div>

        </div>


    </div>





    <!--PROJETOS -->



    <main class="projetos mudarCor">


        <div class="titulo_portifolio">
            <h3 class="mudarCorTextos">Confira meus projetos mais recentes.</h3>
            <p class="mudarCorTextos">
                Estou aqui para ajudar, seja você alguém que busca um designer de produto para transformar sua ideia em
                realidade ou um parceiro de design para impulsionar o crescimento do seu negócio para o próximo nível.
            </p>

        </div>



        <!-- P1 -->
        <div class="cards_portifolio">


            <div>
                <a href="https://hamburgueria-do-chef.netlify.app/">Acesse ao site <i class="bi bi-arrow-up-right-square"></i></a>
                 <img src="assets/img/portifolio/img_1.png" alt="">
            </div>

        </div>
        <!-- P2 -->
        <div class="cards_portifolio">
            <div>
              <a href="https://web-desing-page.netlify.app/">Acesse ao site <i class="bi bi-arrow-up-right-square"></i></a>  
              <img src="assets/img/portifolio/img_2.png" alt="">
            </div>
            
        </div>
        <!-- P3 -->
        <div class="cards_portifolio">
            <div>
              <a href="https://codigo-certo.netlify.app/">Acesse ao site <i class="bi bi-arrow-up-right-square"></i></a>  
              <img src="assets/img/portifolio/img_3.png" alt="">
            </div>
            
        </div>





        <!-- DIV TEXTO ANIMADO -->
        <div class="div_texto_animado_port" >
            <span id="msg_texto" class="mudarCorTextos"> Confira meus projetos 👋 Portfólio de Desenvolvimento Web - Criação, Inovação,
                Impacto! -
                Desenvolvendo soluções digitais 👋 Transformando ideias em realidade! -
                Especialista em UI/UX 👋 Design moderno e funcional para o seu negócio! -
                Projetos personalizados 👋 Desenvolvimento web com foco em resultados! -
                Tecnologia a serviço da inovação 👋 Veja como posso ajudar no seu próximo projeto!
            </span>

        </div>


    </main>




</section>