<!-- CONATO -->
<section id="contatos">
    <!-- CARD PERFIL -->

    <!-- PERFIL - 1 -->
    <main class="perfil_flutuante">
        <div id="contato_perfil" class="mudarCor">
            <div class="perfil_descricao ">

                <div class="img_perfil bk_img_perfil">
                    <img src="assets/img/section_1/img_perfil.png" alt="">
                    <!-- <img id="img_icons_perf" src="assets/img/inicio/img_2.png" alt=""> -->

                </div>
                <div class="text_perfil ">
                    <h3 class="mudarCorTextos">Erivelton <span class="mudarCorTextos">Magalhães</span></h3>
                    <p class="mudarCorTextos">Desenvolvedor Full Stack e designer UX/UI com + de 1 ano de experiência em
                        desenvolvimento web, apaixonado por criar soluções inovadoras e
                        eficientes.</p>


                </div>
            </div>
            <!-- CONATATO -->
            <div class="perfil_contato">
                <div class="btn_perfil">
                    <button><i class="bi bi-telephone-forward"></i>Contato</button>
                    <button class="baixar_cv" onclick="baixarCV()"><i class="bi bi-arrow-down-circle-fill"></i>Download
                        CV</button>
                </div>
                <!-- icons perfil -->
                <div class="icons_perfil">
                    <div>
                        <i class="bi bi-facebook mudarCorTextos"></i>
                        <i class="bi bi-linkedin mudarCorTextos"></i>
                        <i class="bi bi-github mudarCorTextos"></i>
                        <i class="bi bi-whatsapp mudarCorTextos"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>












    <!-- CONTEÚDO CONTATO -->

    <main id="content_contato" class="mudarCor">
        <div class="titulo_contato">
            <h3 class="mudarCorTextos">Vamos 👋 trabalhar juntos? <i class="bi bi-person-rolodex"></i></h3>
        </div>
        <div class="text_contato ">
            <p class="mudarCorTextos">Se você está à procura de um designer de produto criativo para transformar suas
                ideias em realidade ou de
                um parceiro de design estratégico para impulsionar o crescimento do seu negócio, estou aqui para ajudar.
                Juntos, podemos levar sua visão ao próximo nível e criar soluções inovadoras que realmente fazem a
                diferença. Entre em contato para discutirmos como podemos trabalhar juntos e alcançar resultados
                incríveis! <br>
                Ofereço uma ampla gama de serviços de alta qualidade para atender às suas necessidades. Estou aqui para
                ajudar você a alcançar seus objetivos com SOLUÇÕES personalizadas.


            </p>



            <!-- icons perfil -->
            <div class="icons_perfil">
                <div>
                    <i class="bi bi-facebook mudarCorTextos"></i>
                    <i class="bi bi-linkedin mudarCorTextos"></i>
                    <i class="bi bi-github mudarCorTextos"></i>
                    <i class="bi bi-whatsapp mudarCorTextos"></i>
                </div>
                <img id="discord_img" src="assets/img/contato/pointing-1.gif" alt="">
                <img class="img_android_cab" src="assets/img/contato/observing-droid.gif" alt="">

            </div>


        </div>
        <!--  -->



        <!-- DIV FORM -->
        <div class="form_contato">
            <div class="container_inputs">
                <div>
                    <label for="nome" class="form-label mudarCorTextos">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Seu nome" disabled>
                </div>
                <div>
                    <label for="telefone" class="form-label mudarCorTextos">Contato</label>
                    <input type="number" class="form-control" id="telefone" placeholder="(00)0 0000-0000" disabled>
                </div>
            </div>
            <!--  -->
            <div id="email_input">
                <label for="email" class="form-label mudarCorTextos">Email</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" disabled>
            </div>
            <!--  -->

            <div class="text_area_contato">
                <label for="exampleFormControlTextarea1" class="form-label mudarCorTextos">Mensagem</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled></textarea>
            </div>
            <button>Enviar Mensagem</button>
        </div>


        <!-- DIV TEXTO ANIMADO -->
        <div class="div_texto_animado_port">
            <span id="msg_texto" class="mudarCorTextos"> Confira meus projetos 👋 Portfólio de Desenvolvimento Web -
                Criação, Inovação,
                Impacto! -
                Desenvolvendo soluções digitais 👋 Transformando ideias em realidade! -
                Especialista em UI/UX 👋 Design moderno e funcional para o seu negócio! -
                Projetos personalizados 👋 Desenvolvimento web com foco em resultados! -
                Tecnologia a serviço da inovação 👋 Veja como posso ajudar no seu próximo projeto!
            </span>

        </div>


    </main>



</section>