<!-- SOBRE CARD -->
<section id="sobre">

    <div class="perfil_flutuante">

        <!-- PERFIL - 1 -->

        <section id="section_perfil" class="mudarCor">

            <div class="perfil_descricao">
                <div class="img_perfil bk_img_perfil">
                    <img src="assets/img/sobre/img_perfil.png" alt="">

                </div>
                <div class="text_perfil">
                    <h3 class="mudarCorTextos">Erivelton Magalhães</h3>
                    <p class="mudarCorTextos"> Desenvolvedor Full Stack e designer UX/UI com 2 anos de experiência em
                        desenvolvimento web, apaixonado por criar soluções inovadoras e
                        eficientes.</p>


                </div>

            </div>

            <!-- CONATATO -->
            <div class="perfil_contato">

                <div class="btn_perfil">
                    <button><i class="bi bi-telephone-forward"></i>Contato</button>
                    <button><i class="bi bi-arrow-down-circle-fill"></i>Download CV</button>

                </div>
                <!-- icons perfil -->
                <div class="icons_perfil">
                    <div>
                        <i class="bi bi-facebook mudarCorTextos"></i>
                        <i class="bi bi-linkedin mudarCorTextos"></i>
                        <i class="bi bi-github mudarCorTextos"></i>
                        <i class="bi bi-whatsapp mudarCorTextos"></i>
                    </div>

                </div>

            </div>






        </section>


    </div>
    <!--  -->





    <!-- CARD PERFIL -->

    <div class="card_sobre mudarCor">

        <!-- TEXTO PERFIL -->

        <div class="card_sobre_text_perfil">
            <div>
                <h3 class="mudarCorTextos">Olá, eu sou Erivelton Magalhães</h3> <button><span class="status-icon"></span>Disponível</button>
            </div>

            <p class="mudarCorTextos">Formado em Análise e Desenvolvimento de Sistemas,
                desenvolver Front End, Full-Stack e UX/UI Designer, com formação em  e
                especializações em Cloud Computing e desenvolvimento web, cursando Ciencia da Computação. Minha paixão por tecnologia e design me
                permite criar soluções completas, que aliam performance, usabilidade e inovação. Tenho experiência em
                Angular, .NET, SQL Server e estou sempre buscando novas ferramentas e tendências para melhorar meus
                projetos. </p>
            <samp><a href="https://web-desing-page.netlify.app/">Meu Site<i class="bi bi-diagram-3"></i></a><a
                    href="https://github.com/EriveltonMGit/EriveltonMGit">Git Hub<i class="bi bi-github"></i></a><a
                    href="https://coigo-certo.netlify.app/">Development <i class="bi bi-code-slash"></i></a></samp>


            <div class="texto_circular">
                <svg viewBox="0 0 100 100">
                    <defs>
                        <linearGradient id="gradientText" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color:#fc0045;" />
                            <stop offset="50%" style="stop-color:#791df3;" />
                            <stop offset="100%" style="stop-color:#00b3ff;" />
                        </linearGradient>
                    </defs>
                    <path id="textPath" d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0" fill="none" />
                    <text>
                        <textPath href="#textPath" fill="url(#gradientText)">
                            Realize seu orçamento gratis ⭒
                        </textPath>
                    </text>
                </svg>
            </div>



        </div>


        <!-- CARD A DEFINIR -->
        <div class="atividades_card">

            <!-- DESCRIÇÃO SOBRE  -->
            <div class="descricao">

                <!-- OBJETIVOS DE CARRERIA -->
                <!-- TITULO DOS OBJETIVOS -->
                <div class="obj_text">
                    <h3 class="mudarCorTextos">Objetivos de Carreira</h3><span class="status-icon"></span>
                </div>
                <!-- DESCRIÇÃO DOS OBJETIVOS -->
                <div class="obj_desc_1">
                    <p class="mudarCorTextos">Meu principal objetivo é continuar evoluindo profissionalmente,
                        enfrentando novos desafios e
                        expandindo
                        minhas habilidades em tecnologias emergentes. Estou comprometido em criar experiências de
                        usuário
                        excepcionais e soluções de software inovadoras que atendam às necessidades dos usuários e às
                        demandas do
                        mercado.</p>
                </div>


                <!-- ÁREAS DE INTERESSE -->
                <div class="inte_text">
                    <h3 class="mudarCorTextos">Áreas de Interesse </h3> <span class="status-icon"></span>
                </div>
                <div class="inte_desc_1">
                    <p class="mudarCorTextos">Desenvolvimento Web: Criar interfaces intuitivas e responsivas, bem como
                        desenvolver backends
                        robustos e escaláveis. A diversidade de tecnologias e a chance de atuar em diversas camadas de
                        um projeto são o que mais me fascinam.</p>
                    <p class="mudarCorTextos">Design UX/UI: Acredito que a experiência do usuário é fundamental para o
                        sucesso de qualquer
                        produto
                        digital. Meu foco está em criar designs que não apenas sejam esteticamente agradáveis, mas
                        também
                        funcionais e centrados no usuário.</p>
                    <p class="mudarCorTextos">Inovação e Soluções Criativas: Estou sempre em busca de novas formas de
                        resolver problemas e
                        otimizar
                        processos. A inovação é a força motriz por trás de muitas das minhas abordagens e soluções.</p>
                    <a href="">Desenvolvimentos<i class="bi bi-braces"></i></a>
                </div>





            </div>

        </div>

        <!-- ARTIGOS E PUBLICAÇÕES -->
        <div class="artigos_card">

            <h3 class="mudarCorTextos">Graduação e Certificados <i class="bi bi-arrow-90deg-right mudarCorTextos"></i></h3>
            <!-- CARDS - 1 -->

            <div class="cards_1">
                <!--  -->

                <div  class="card" onclick="abrirCard()">

                    <p><img id="img_cards_projetos" src="assets/img/sobre/certificados/estacio_logo.png" alt=""></p>
                    <p>Analista e Desenvolvedor de Sistemas</p>

                    <div id="card_flu_certificado_1">
                        <button onclick="fecharCard()"><i class="bi bi-x"></i></button>
                        <img src="assets/img/sobre/certificados/estacio.png" alt="">
                        

                    </div>
                </div>
                <!--  -->
                <div class="card" onclick="abrirCard_2()">

                    <p> <img id="img_cards_projetos" src="assets/img/sobre/certificados/cert_google.png" alt=""></p>
                    <p>Google Cloud Computing Foundations</p>

                    <div id="card_flu_certificado_2">

                        <button><i class="bi bi-x"></i></button>
                        <img src="assets/img/sobre/certificados/google_cert.png" alt="">

                    </div>
                </div>
                <!--  -->
                <div class="card" onclick="abrirCard_3()" >
                    <p> <img id="img_cards_projetos" src="assets/img/sobre/certificados/soft_skiils-removebg-preview.png" alt=""></p>
                    <p>Soft Skills e Hard Skills</p>

                    <div id="card_flu_certificado_3" >

                        <button ><i class="bi bi-x"></i></button>
                        <img src="assets/img/sobre/certificados/softskill.png" alt="">

                    </div>
                </div>
            </div>



            <!-- CARES - 2 -->
            <div class="cards_2">
                <div class="card" onclick="abrirCard_4()" >
                    <p> <img id="img_cards_projetos" src="assets/img/sobre/certificados/front.png" alt=""></p>
                    <p>Desenvolvedor Front End</p>
                    
                    <div id="card_flu_certificado_4" >

                        <button ><i class="bi bi-x"></i></button>
                        <img src="assets/img/sobre/certificados/certi_front.png" alt="">

                    </div>
                </div>
                <div class="card" onclick="abrirCard_5()" >
                    <p> <img id="img_cards_projetos" src="assets/img/sobre/certificados/stack.png" alt=""></p>
                    <p>Desenvolvedor Full Stack</p>
                    <div id="card_flu_certificado_5" >

                        <button ><i class="bi bi-x"></i></button>
                        <img src="assets/img/sobre/certificados/softskill.png" alt="">

                    </div>

                </div>
                <div class="card" onclick="abrirCard_6()" >
                    <p><img id="img_cards_projetos" src="assets/img/sobre/certificados/indrustruia.png" alt=""></p>
                    <p>Industria 4.0</p>
                    <div id="card_flu_certificado_6" >

                        <button ><i class="bi bi-x"></i></button>
                        <img src="assets/img/sobre/certificados/softskill.png" alt="">

                    </div>

                </div>

            </div>



        </div>

    </div>


</section>