* {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  cursor: url('/assets/img/icons/cursor_blue.png'), auto;
  margin: 0;
  padding: 0;
  
}


body {
  transition: background-color 0.5s ease;
  background-color: #e9ecef;
  overflow-x: hidden;
}



p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0e1018;
  animation: rotacionar 5s linear infinite;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #f0f2f5 0, #f0f2f5 50%, #f0f2f5, #f0f2f5, #f0f2f5, #f0f2f5);
  border-radius: 6px;
  transition: 05s ease-in-out;

}
















:root {
  /* // COLORS UTILIZADAS */
  --font-family: "Bricolage Grotesque", sans-serif;


  --bs-card: #0e1018;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-secondary: #6c757d;
  --bs-success: #01ff88;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #c1d7f8;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;



}

/* // FONTES */

@font-face {
  font-family: Sora;
  src: url('assets/fonts/static/Sora-Bold.ttf');
}

@font-face {
  font-family: Sora-Thin;
  src: url('assets/fonts/static/Sora-SemiBold.ttf');
}

@font-face {
  font-family: VariableFont_wght;
  src: url('assets/fonts/space/SpaceGrotesk-VariableFont_wght.ttf');
}

@font-face {
  font-family: Purista;
  src: url('assets/fonts/puristBold/Purista\ Bold.otf');
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Fica atrás do conteúdo da página */
  /* background-color: #2b2e4a; */
}