<!-- NAVBAR -->
<nav id="nav_bar">

    <!--LOGO -->
    <div id="logo">
        <div id="a_nav_logo">
          <i class="bi bi-grid-1x2-fill  mudarCorTextos"></i>
            <h5>PORTIFÓLIO</h5>

        </div>



    </div>

    <!-- NAV ul -->

    <ul id="ul_nav">

        <li><a onclick="home()" id="btn_home" class="a_nav mudarCorTextos" href="#inicio"><i
                    class="bi bi-house"></i>Início</a></li>
        <li><a onclick="sobre()" id="btn_sobre" class="a_nav mudarCorTextos" href="#sobre"><i
                    class="bi bi-file-person"></i>Sobre</a></li>
        <li><a onclick="servicos()" id="btn_servicos" class="a_nav mudarCorTextos" href="#servicos"> <i
                    class="bi bi-collection"></i>Serviços</a></li>
        <li><a onclick="portifolio()" id="btn_portfolio" class="a_nav mudarCorTextos" href="#portifolio"> <i
                    class="bi bi-files"></i>Portifólio</a></li>
        <li><a onclick="site()" class="a_nav mudarCorTextos" href="#"><i class="bi bi-substack"></i>Site</a></li>
        <li><a onclick="contato()" id="btn_contato" class="a_nav mudarCorTextos" href="#contatos"> <i
                    class="bi bi-chat-square-text"></i>Contanto</a></li>



    </ul>
    <!-- vamos conversar -->
    <div id="vamos_conversar">
        <button onclick="mudarCorBody()">
            <i id="lua" class="bi bi-moon-stars-fill"></i>
            <i id="sol" class="bi bi-sun-fill" style="display: none;"></i>

        </button>

        <button onclick="vamosConverar()">Vamos Conversar <i class="bi bi-caret-right"></i></button>

        <button class="btn_menu-device"  onclick="abrirMenu()">
            <div id="linha_1" class="linha"></div>
            <div id="linha_2" class="linha"></div>
            <div id="linha_3" class="linha"></div>
        </button>

    </div>





    <!-- MENU DEVICE -->
    <div id="menu" >

        
        <!-- titulo do menu device -->
        <div class="text_menu_device">
            <i class="bi bi-grid-1x2-fill  "></i>
            <h5>PORTIFÓLIO</h5>

        </div>

        <ul>
            <li><a onclick="home()" id="btn_home" class="a_nav " href="#inicio"><i
                        class="bi bi-house"></i>Início</a></li>
            <li><a onclick="sobre()" id="btn_sobre" class="a_nav " href="#sobre"><i
                        class="bi bi-file-person"></i>Sobre</a></li>
            <li><a onclick="servicos()" id="btn_servicos" class="a_nav " href="#servicos"> <i
                        class="bi bi-collection"></i>Serviços</a></li>
            <li><a onclick="portifolio()" id="btn_portfolio" class="a_nav " href="#portifolio"> <i
                        class="bi bi-files"></i>Portifólio</a></li>
            <li><a onclick="site()" class="a_nav " href="#"><i class="bi bi-substack"></i>Site</a></li>
            <li><a onclick="contato()" id="btn_contato" class="a_nav " href="#contatos"> <i
                        class="bi bi-chat-square-text"></i>Contanto</a></li>
        </ul>



    </div>












</nav>