<!-- bk_animado_body -->
<div class="bk_animado_body">
    <!-- <img src="assets/img/body/bk_blur.png" alt="">
    <img src="assets/img/body/bk_blur.png" alt=""> -->

</div>




<!-- INICIO -->

<section id="inicio">



    <!-- CARD PERFIL -->

    <!-- PERFIL - 1 -->
    <main id="section_perfil" class="mudarCor">
        <div class="perfil_descricao">

            <div class="img_perfil bk_img_perfil">
                <img src="assets/img/section_1/img_perfil.png" alt="">
                <!-- <img id="img_icons_perf" src="assets/img/inicio/img_2.png" alt=""> -->

            </div>
            <div class="text_perfil ">
                <h3 class="mudarCorTextos">Erivelton <span class="mudarCorTextos">Magalhães</span></h3>
                <p class="mudarCorTextos"> Desenvolvedor Full Stack e designer UX/UI com 2 anos de experiência em
                    desenvolvimento web, apaixonado por criar soluções inovadoras e
                    eficientes.</p>


            </div>
        </div>
        <!-- CONATATO -->
        <div class="perfil_contato">
            <div class="btn_perfil">
                <button><i class="bi bi-telephone-forward"></i>Contato</button>
                <button><i class="bi bi-arrow-down-circle-fill"></i>Download CV</button>
            </div>
            <!-- icons perfil -->
            <div class="icons_perfil">
                <div>
                    <i class="bi bi-facebook mudarCorTextos"></i>
                    <i class="bi bi-linkedin mudarCorTextos"></i>
                    <i class="bi bi-github mudarCorTextos"></i>
                    <i class="bi bi-whatsapp mudarCorTextos"></i>
                </div>
            </div>
        </div>
    </main>




    <!-- EXPERIENCIAS CARD -->

    <!-- PROJETOS-->
    <main id="experiencia" class="mudarCor">
        <div class="titulo_experiencia">
            <h3 class="mudarCorTextos">Novo projeto <a href="https://web-desing-page.netlify.app/">visite<i
                        class="bi bi-caret-right"></i></a> </h3>
        </div>
        <!-- IMAGESNS CARROSEL -->
        <div class="video_experiencia">


            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/inicio/carrosel/img_1.png" class="d-block " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/inicio/carrosel/img_2.png" class="d-block " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/inicio/carrosel/img_3.png" class="d-block " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/inicio/carrosel/img_4.png" class="d-block " alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/inicio/carrosel/img_5.png" class="d-block " alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- TEXOS ANIMADO CARD PROJETOS -->
            <!-- DIV TEXTO ANIMADO -->
            <div class="div_texto_animado ">
                <span id="msg_texto" class="mudarCorTextos"> Confira meus projetos <i class="bi bi-caret-left-fill"></i>
                    Portfólio de
                    Desenvolvimento Web - Criação, Inovação,
                    Impacto! -
                    Desenvolvendo soluções digitais <i class="bi bi-caret-left-fill"></i> Transformando ideias em
                    realidade! -
                    Especialista em UI/UX <i class="bi bi-caret-left-fill"></i> Design moderno e funcional para o seu
                    negócio! -
                    Projetos personalizados <i class="bi bi-braces"></i> Desenvolvimento web com foco em resultados! -
                    Tecnologia a serviço da inovação 👋 Veja como posso ajudar no seu próximo projeto!
                </span>

            </div>


        </div>
    </main>













    <!-- CARD ESPECIALIZAÇÃO-->

    <main id="especializacao" class="mudarCor">
        <div class="texto_especializacao">
            <h3 class="mudarCorTextos">Área de especialização </h3>
            <i class="bi bi-gear-wide mudarCorTextos"></i>
        </div>
        <!-- icon My Expert Area -->
        <div class="icon_expecializacao">
            <div>
                <span><img src="assets/img/icons/angular.png" alt="">
                    <p class="mudarCorTextos">Angular</p>
                </span>
                <span><img src="assets/img/icons/figma.png" alt="">
                    <p class="mudarCorTextos">Figma</p>
                </span>
                <span><img src="assets/img/icons/google-cloud.png" alt="">
                    <p class="mudarCorTextos">Google <br>Cloud</p>
                </span>
            </div>
            <!--  -->
            <div>
                <span><img src="assets/img/icons/ui.png" alt="">
                    <p class="mudarCorTextos">UI</p>
                </span>
                <span><img src="assets/img/icons/ux.png" alt="">
                    <p class="mudarCorTextos">UX</p>
                </span>
                <span><img src="assets/img/icons/javascript.png" alt="">
                    <p class="mudarCorTextos">Java S</p>
                </span>
            </div>
        </div>
    </main>









    <!-- PROJETOS -->
    <main id="projetos" class="mudarCor">
        <!-- MEUS PROJETOS -->
        <div class="projetos_perfil">
            <span>
                <h3 class="mudarCorTextos">Projetos Recentes <button>Visite<i class="bi bi-arrow-right"></i></button></h3>
            </span>
            <!--  -->
            <div>
                <a href="https://hamburgueria-do-chef.netlify.app/"> <img src="assets/img/section_4/card_1.png"
                        alt=""></a>
            </div>
            <!--  -->
            <div>
                <a href="https://calm-web-designer.netlify.app/"><img src="assets/img/section_4/card_3.png" alt=""></a>
            </div>
            <div>
                <a href="https://coigo-certo.netlify.app/"> <img src="assets/img/section_4/card_2.png" alt=""></a>
            </div>



        </div>





    </main>

    <!-- btn flutuante -->
    <div id="btn_projetos_flut" class="mudarCor">
        <a href=""><i class="bi bi-whatsapp mudarCorTextos"></i></a>
        <a href=""> <i class="bi bi-linkedin mudarCorTextos"></i></a>
        <a href=""> <i class="bi bi-envelope-at-fill mudarCorTextos"></i></a>
        <a href=""> <i class="bi bi-github mudarCorTextos"></i></a>

    </div>






    <!-- CARD PERFIL -->


    <!-- SEVIÇOS QUE OFEREÇO -->

    <main id="servicos_card" class="mudarCor">
        <div id="text_sevicos">
            <h3>Serviços Oferecidos <i class="bi bi-x-diamond-fill"></i></h3>
            <button class="a_nav mudarCorTextos">Ver todos os serviços <i class="bi bi-arrow-right"></i> </button>
        </div>
        <!-- CARDS -->
        <div id="cards_servicos">
            <div class="card_serv" id="mudarCor_Card_servicos">
                <img class="img_ser" src="assets/img/section_5/branding.svg" alt="">
                <p>Criação de logótipo</p>
            </div>
            <!--  -->
            <div class="card_serv" id="mudarCor_Card_servicos">
                <img class="img_ser" src="assets/img/section_5/app.svg" alt="">
                <p>Aplicativo móvel</p>
            </div>
            <!--  -->
            <div class="card_serv" id="mudarCor_Card_servicos">
                <img class="img_ser" src="assets/img/section_5/prd-design.svg" alt="">
                <p>Design do Produto</p>
            </div>
            <!--  -->
            <div class="card_serv" id="mudarCor_Card_servicos">
                <img class="img_ser" src="assets/img/section_5/ui-ux.svg" alt="">
                <p>UI UX Design</p>
            </div>
        </div>
    </main>









    <!-- CONTATO -->
    <footer id="contato" class="mudarCor">

        <div class="bK_blur">
            <img src="assets/imagem/bk_blur.png" alt="">
        </div>
        <main class="footer text-center text-lg-start">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-lg-3">
                        <h5 class="text-uppercase mudarCorTextos">Sobre</h5>
                        <p class="text-uppercase_p mudarCorTextos">
                            Forneço serviços de qualidade com dedicação e compromisso. Minha missão é garantir a
                            satisfação do cliente
                            em todas as etapas.
                        </p>
                    </div>
                    <!-- Services -->
                    <div class="col-lg-3 ">
                        <h5 class="text-uppercase mudarCorTextos">Serviços</h5>
                        <ul class="list-unstyled ">
                            <li class="icon-text mudarCorTextos"><i class="fas fa-cogs"></i><a href="#!"
                                    class="text-reset ">Consultoria</a>
                            </li>
                            <li class="icon-text mudarCorTextos"><i class="fas fa-laptop-code"></i><a href="#!"
                                    class="text-reset">Desenvolvimento</a>
                            </li>
                            <li class="icon-text mudarCorTextos"><i class="fas fa-headset"></i><a href="#!"
                                    class="text-reset">Suporte</a>
                            </li>
                            <li class="icon-text mudarCorTextos"><i class="fas fa-chalkboard-teacher"></i><a href="#!"
                                    class="text-reset">Treinamento</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Contact -->
                    <div class="col-lg-3">
                        <h5 class="text-uppercase mudarCorTextos">Contato</h5>
                        <ul class="list-unstyled ">
                            <li class="icon-text mudarCorTextos"><i class="fas fa-envelope"></i><a href="#"
                                    class="text-reset mudarCorTextos">Email:
                                    Acesse</a></li>
                            <li class="icon-text  mudarCorTextos"><i class="fas fa-phone"></i><a href="#!"
                                    class="text-reset">(61)
                                    981579569</a>
                            </li>
                            <li class="icon-text mudarCorTextos"><i class="fas fa-map-marker-alt"></i><a
                                    href="https://maps.app.goo.gl/Fy5hP6F9agGcPBGW9" class="text-reset">Endereço: DF -
                                    Brasília</a></li>
                        </ul>
                    </div>
                    <!-- Social Media -->
                    <div class="col-lg-3 text-center">
                        <h5 class="text-uppercase mudarCorTextos">Siga-me</h5>
                        <div class="social-icons mudarCorTextos">
                            <a href="https://wa.me/5561981579569" class="text-reset"><i
                                    class="fab fab fa-whatsapp"></i></a>
                            <a href="#!" class="text-reset mudarCorTextos"><i class="fab fa-twitter"></i></a>
                            <a href="#!" class="text-reset mudarCorTextos"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/erivelton-magalh%C3%A3es-553a6b215/"
                                class="text-reset"><i class="fab fa-linkedin"></i></a>
                        </div>
                        <img id="qr_code_mentoria" src="assets/imagem/qrcode_mentoria.jpg" alt="">
                    </div>
                </div>
            </div>
        </main>
        <div class="text-center copy mudarCorTextos" id="copyright">
            © 2024 Copyright: Todos direitos reservados
            <a class="text-reset fw-bold" href="#home"></a>
        </div>
    </footer>




</section>